.logo{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchbar{
    width: 40%;
    height: 5%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border: solid 1px;
    border-radius: 20px;
    border-color: lightgray;
    padding-left: 5px; -->
    
}

.button {
    width: 20%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button2 {
    width: 20%;
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
}